{% extends "base.html" %} 

{% block col1 %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <p></p>
              <a class="btn btn-primary" 
				href="{% url 'bookings:guest-add' %}" role="button">
				New Guest
			  </a>
        </div><!--/card-->
    </div><!--/col-md-3-->
{% endblock %}
{% block col2 %}
    <div class="col-md-3">
        <div class="card">
            <p></p>
              <a class="btn btn-primary" 
				href="{% url 'bookings:guest-edit' %}" role="button">
				Edit Guest
			  </a>
        </div><!--/card-->
    </div><!--/col-md-3-->
{% endblock %}
</div><!--row-->
</div><!--container-->

